.anim-cards {
  animation: anim-cards 0.8s;
  animation-timing-function: cubic-bezier(0.5, 1.58, 0.34, 0.82);
  animation-fill-mode: both;
  transform: scale(0);
}

@keyframes anim-cards {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
.delay-1 {
  animation-delay: 1s;
}

.delay-2 {
  animation-delay: 1.5s;
}

.delay-3 {
  animation-delay: 2s;
}

.div-loader {
  opacity: 1;
  animation: fadeout 0.5s linear forwards;
}

.loader {
  border: 10px solid #f3f3f3;
  border-top: 10px solid #9356DC;
  border-bottom: 10px solid rgb(161, 161, 161);
  border-radius: 50%;
  width: 100px;
  height: 100px;
  -webkit-animation: spin 2s linear infinite;
  -o-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
  margin: auto;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.unloader {
  animation: fadein 1s linear forwards;
  opacity: 0%;
}

.delay-4 {
  animation-delay: 0.5s;
}

.delay-5 {
  animation-delay: 0.5s;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@-webkit-keyframes fadein {
  0% {
    opacity: 0%;
  }
  50% {
    opacity: 50%;
  }
  100% {
    opacity: 100%;
  }
}
@keyframes fadein {
  0% {
    opacity: 0%;
  }
  50% {
    opacity: 50%;
  }
  100% {
    opacity: 100%;
  }
}
@-webkit-keyframes fadeout {
  0% {
    opacity: 100%;
  }
  50% {
    opacity: 50%;
  }
  100% {
    opacity: 0%;
  }
}
@keyframes fadeout {
  0% {
    opacity: 100%;
  }
  50% {
    opacity: 50%;
  }
  100% {
    opacity: 0%;
  }
}
header {
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: solid;
  border-bottom-width: 4px;
  border-color: rgb(226, 226, 226);
}
header img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 65%;
  padding-top: 5%;
  padding-left: 12%;
  padding-bottom: 3%;
}
header a {
  margin-left: -20px;
}
header p {
  visibility: hidden;
}

p {
  cursor: pointer;
}

h1 {
  cursor: pointer;
}

@media (min-width: 768px) {
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: solid;
    border-bottom-width: 4px;
    border-color: rgb(226, 226, 226);
  }

  header img {
    padding-top: 2%;
    padding-bottom: 2%;
    padding-left: 3%;
    padding-right: 3%;
    width: 20%;
  }

  header a {
    margin-left: 30px;
  }
}
.header-logo {
  display: flex;
  align-items: center;
  justify-content: center;
}
.header-logo .header-logo a {
  margin-left: 2rem;
  position: absolute;
  cursor: pointer;
  display: flex;
  align-items: center;
}
.header-logo .header-logo img {
  margin: auto;
}
@media (min-width: 768px) {
  .header-logo .logo-accueil {
    width: 100%;
  }
}
@media (max-width: 768px) {
  .header-logo .logo-accueil {
    width: 75%;
  }
}

footer {
  background-color: rgb(37, 37, 37);
  font-family: "Roboto", sans-serif;
  font-weight: normal;
  color: white;
}
footer .footer-titre {
  padding-top: 3%;
  padding-left: 5%;
}
footer .footer-titre h3 {
  font-family: "Shrikhand", sans-serif;
  font-weight: 100;
  font-size: 24px;
}
footer .footer-lien {
  margin-top: -1%;
  display: flex;
  flex-direction: column;
}
footer .footer-lien .footer-restaurant {
  display: flex;
  flex-direction: row;
  padding-left: 5%;
  justify-content: left;
  align-items: center;
}
footer .footer-lien p {
  display: flex;
  flex-direction: row;
  padding-left: 5%;
  justify-content: left;
  align-items: center;
}

.separator {
  display: none;
  margin-bottom: 30px;
}

.btn-command {
  margin: 5% 27% 20% 27%;
  padding: 3px 3px 3px 3px;
  border-radius: 15px 15px 15px 15px;
  background-color: #9356DC;
  box-shadow: 3px 3px 2px rgb(161, 161, 161), 5px 16px 45px #FF79DA inset;
  text-align: center;
}
.btn-command p {
  margin: 10px;
  color: white;
  font-size: 18px;
}

@media (min-width: 768px) {
  .btn-command {
    margin: 2% 35% 6% 35%;
  }
}
a:link, a:visited, a:hover, a:active {
  color: #000000;
  text-decoration: none;
}

.localisation {
  height: 60px;
  background-color: rgb(236, 236, 236);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}
.localisation .grey-color {
  color: rgb(58, 58, 58);
}
.localisation p {
  color: black;
  font-family: "Roboto", sans-serif;
  font-weight: 800;
  cursor: pointer;
}

.explore {
  background-color: rgb(245, 245, 245);
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 20px;
  padding-bottom: 10px;
}
.explore h1 {
  font-weight: bold;
  text-align: center;
  margin: 5% 10% 0 10%;
  cursor: pointer;
}
.explore p {
  text-align: center;
  margin: 0 10% 0 10%;
  font-size: 15px;
  cursor: pointer;
}
.explore .btn-explore {
  border-radius: 15px 15px 15px 15px;
  background-color: #9356DC;
  box-shadow: 3px 3px 2px rgb(161, 161, 161), 5px 16px 45px #FF79DA inset;
}
.explore .btn-explore p {
  color: white;
  font-weight: bold;
  font-size: 16px;
  cursor: pointer;
}

@media (max-width: 768px) {
  .btn-explore {
    margin: 5% 20% 5% 20%;
    padding: 15px 3px 15px 3px;
  }
}
@media (min-width: 768px) {
  .btn-explore {
    margin: 2% 40%;
    padding: 15px 1px 15px 1px;
  }

  .explore h1 {
    margin: 2% 10% 0% 10%;
  }
}
.fonctionnement {
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: left;
  margin-top: 15px;
}
.fonctionnement .fonctionnement-titre {
  margin-left: 4%;
}
.fonctionnement .fonctionnement-titre h1 {
  font-size: 27px;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  cursor: pointer;
}
.fonctionnement .fonctionnement-cards {
  margin-top: 15px;
  margin-bottom: 35px;
  margin-left: 4%;
}
.fonctionnement .fonctionnement-cards .fonctionnement-card {
  background-color: rgb(245, 245, 245);
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  gap: 15px;
  margin-right: 18%;
  padding-left: 3%;
}
.fonctionnement .fonctionnement-cards .fonctionnement-card i {
  margin-left: 5px;
  margin-right: 12px;
}
.fonctionnement .fonctionnement-cards .fonctionnement-card p {
  text-align: center;
  font-weight: bold;
  font-size: 17px;
  cursor: pointer;
}
.fonctionnement .fonctionnement-cards .fonctionnement-card .fonctionnement-card-round {
  height: 25px;
  width: 25px;
  border-radius: 50%;
  background-color: #9356DC;
  display: flex;
  justify-content: center;
  align-items: center;
}
.fonctionnement .fonctionnement-cards .fonctionnement-card .fonctionnement-card-round p {
  color: white;
  font-size: 13px;
  cursor: pointer;
}

.restaurant {
  background-color: rgb(240, 240, 240);
  padding-bottom: 5%;
}
.restaurant .restaurant-titre {
  margin-left: 4%;
  margin-bottom: 10px;
  padding-top: 25px;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: bold;
}
.restaurant .restaurant-cards {
  gap: 25px;
  margin: 0 3% 0 3%;
}
.restaurant .restaurant-cards .restaurant-card {
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 15px 15px 15px 15px;
}
.restaurant .restaurant-cards .restaurant-card img {
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
}
.restaurant .restaurant-cards .restaurant-card .restaurant-info {
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}
.restaurant .restaurant-cards .restaurant-card .restaurant-info .restaurant-info-texte {
  padding-left: 3%;
  background-color: white;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: bolder;
}
.restaurant .restaurant-cards .restaurant-card .restaurant-info .restaurant-info-texte h2 {
  margin-right: -40%;
}
.restaurant .restaurant-cards .restaurant-card .restaurant-info .restaurant-info-texte p {
  font-size: 14px;
  margin-top: -9px;
  margin-right: -40%;
}
.restaurant .restaurant-cards .restaurant-card .restaurant-info .restaurant-info-heart {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 50px;
  width: 80px;
}
.restaurant .restaurant-cards .restaurant-card .restaurant-info .restaurant-info-heart i:hover {
  color: #9356DC;
}

@media (min-width: 768px) {
  .restaurant-cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 1rem;
  }

  .fonctionnement-cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 1rem;
  }
}
@media (max-width: 768px) {
  .fonctionnement-cards {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
}
.menu-image-cover {
  margin-top: -2%;
}
.menu-image-cover img {
  height: 300px;
  width: 100%;
  object-fit: cover;
}

.menu-grid {
  display: grid;
}

@media (min-width: 768px) {
  .menu-grid {
    grid-template-columns: repeat(3, 1fr);
    column-gap: 1rem;
  }

  .menu-cards {
    max-width: 100%;
    overflow: hidden;
    padding: 0 1rem 1rem;
  }

  .menu-image-cover img {
    height: 700px;
  }
}
.menu-global {
  z-index: 100;
  position: absolute;
  background-color: rgb(240, 240, 240);
  margin-top: -15%;
  width: 100%;
  border-radius: 40px;
  cursor: pointer;
}
.menu-global .menu-titre-restaurant {
  padding-top: 3%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.menu-global .menu-titre-restaurant h1 {
  padding-left: 7%;
  font-family: "Shrikhand", sans-serif;
  font-weight: 300;
  font-size: 30px;
}
.menu-global .menu-titre-restaurant i {
  padding-right: 7%;
}
.menu-global .menu-titre-restaurant i:hover {
  transition: 0.5s;
  color: #9356dc;
}

.menu-cards {
  margin-left: 7%;
  margin-right: 3%;
  margin-bottom: 50px;
}
.menu-cards .menu-titres {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  margin-right: 85%;
}
.menu-cards .menu-titres p {
  padding-bottom: 5%;
  border-bottom: solid;
  border-color: #99E2D0;
}

.menu-cards-undercards {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.menu-cards-element {
  background-color: white;
  box-shadow: 3px 3px 2px rgb(202, 202, 202);
  border-style: none;
  border-radius: 15px;
  display: flex;
  overflow: hidden;
  cursor: pointer;
}
.menu-cards-element .menu-cards-element-column {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  width: 100%;
}
.menu-cards-element h2 {
  font-size: 17px;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  padding-top: 15px;
  padding-left: 10px;
  margin-bottom: 3px;
  margin-top: 0px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.menu-cards-element p {
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  margin-top: 3px;
  margin-bottom: 10px;
  padding-left: 10px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.menu-cards-element .menu-cards-element-price {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  padding-right: 25px;
  font-size: 15px;
}

.menu-cards-element .menu-cards-confirmation {
  background: #99e2d0;
  cursor: pointer;
  height: auto;
  width: 0px;
  opacity: 0;
  border-radius: 0 15px 15px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.4s ease-in-out, width 0.4s ease-in-out, opacity 0.4s ease-in-out;
  transition-duration: 0.5s;
}

.menu-cards-element:hover .menu-cards-confirmation {
  opacity: 100%;
  width: 7rem;
}

.menu-cards-element:hover .menu-cards-confirmation-logo i {
  transform: rotate(360deg);
  transition-duration: 0.5s;
}

.menu-cards-confirmation-logo {
  font-size: 3rem;
  color: white;
}

/*# sourceMappingURL=style.scss.map */
