header {
    display: flex;
    justify-content: center;
    align-items: center;
        border-bottom:solid;
        border-bottom-width:4px;
        border-color:rgb(226, 226, 226);
    img {
        display:flex;
        justify-content: center;
        align-items: center;
        width:65%;
        padding-top: 5%;
        padding-left:12%;
        padding-bottom:3%;
    }
    a {
        margin-left:-20px;
    }
    p {
        visibility: hidden;
    }
  }

@media (min-width:768px) {
    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
            border-bottom:solid;
            border-bottom-width:4px;
            border-color:rgb(226, 226, 226);
    }
    header img {
        padding-top: 2%;
        padding-bottom: 2%;
        padding-left:3%;
        padding-right:3%;
        width:20%;
    }
    header a {
        margin-left:30px;
    }
}

.header-logo {
    display:flex;
    align-items: center;
    justify-content: center;
    .header-logo a {
        margin-left: 2rem;
    position: absolute;
    cursor: pointer;
    display: flex;
    align-items: center;
    }
    .header-logo img {
        margin:auto;
    }
}

footer {
    background-color: rgb(37, 37, 37);
    font-family:'Roboto', sans-serif;
    font-weight:normal;
    color:white;
    .footer-titre {
        padding-top:3%;
        padding-left:5%;
        h3 {
            font-family: 'Shrikhand', sans-serif;
            font-weight:100;
            font-size:24px;
        }
    }
    .footer-lien {
        margin-top:-1%;
        display:flex;
        flex-direction:column;
        .footer-restaurant {
            display:flex;
            flex-direction:row;
            padding-left:5%;
            justify-content: left;
            align-items: center;
        }
        p {
            display:flex;
            flex-direction:row;
            padding-left:5%;
            justify-content: left;
            align-items: center;
        }
    }

}

.separator {
    display:none;
    margin-bottom:30px;
}

.btn-command {
    margin:5% 27% 20% 27%;
    padding:3px 3px 3px 3px;
    @include radius-15;
    @include background_violet;
    @include btn-box-shadow;
    text-align: center;
    p {
        margin:10px;
        color:white;
        font-size:18px;
    }
}

@media (min-width:768px) {
    .btn-command {
        margin: 2% 35% 6% 35%;
    }
}

a:link, a:visited,  a:hover, a:active
{
    color: #000000;
    text-decoration: none;
}